<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
</head>
<body>
<div class="wrapper">
    <h1>📊 Custom Chart.js</h1>
    <div class="charts">
        <div class="chart">
            <canvas id="barChart" data-type="bar" data-color-datalabels="#ffffff"></canvas>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="./SummaryAll.tsx"></script>
</div>
</body>
</html>
