.welcome-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.welcome-body {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.footer-link {
  color: white;
  text-decoration: none;
}
